.fc {
    background-color: #fff !important;
    margin-top: 5%;
    /* text-decoration: none !important; */
}

/*.fc-daygrid-event {*/
/*    background-color: #3686af !important;*/
/*}*/

.fc-daygrid-day-number {
    text-decoration: none !important;
}
.fc-col-header-cell-cushion {
    text-decoration: none !important;
}